<h1>DMCA notice & takedown policy</h1>
Western University Schedule respects the intellectual property rights of others. Per the DMCA, Western University Schedule will respond expeditiously to claims of copyright infringement on the Site if submitted to Western University Schedule's Copyright Agent as described below. Upon receipt of a notice alleging copyright infringement, Western University Schedule will take whatever action it deems appropriate within its sole discretion, including removal of the allegedly infringing materials and termination of access for repeat infringers of copyright protected content.

If you believe that your intellectual property rights have been violated by Western University Schedule or by a third party who has uploaded materials to our website, please provide the following information to the designated Copyright Agent listed below:

Here if a work flow for taking down information :
----- Email or call us(Information provided below).
----- Point out the information in which you believe that your intellectual property rights have been violated by Western University Schedule or by a third party who has uploaded materials to our website.
----- If your claim has been verified, our administrator will take down the information immediately.

Pursuant to 17 U.S.C. 512(c). Western University Schedule designated Copyright Agent is:

Stephen Idugboe
519-808-4161
Sidugbooe@uwo.ca



