
  <body>
    <h1><img src="assets/images/western.png"/></h1>
  
  
  
   <nav>
      <ul style="width:100%">
              <li><a routerLink="">Home</a></li>
              <li><a routerLink="/anauthenticated">Unauthenticated search page</a></li>
              <li><a routerLink="/profile">Profile</a></li>
              <li><a routerLink="/external-api">Ex Api??</a></li>
      </ul>
  </nav>
  
  <button class="btn btn-primary btn-block" (click)="loginWithRedirect()" *ngIf = "(auth.isAuthenticated$  | async) === false">Sign in</button>
  <button (click) = "logout()" *ngIf = "auth.isAuthenticated$  | async">Sign out</button>
  
  <div class = "belowImage">
    <div class = "info">   
      <h1>About:</h1>
    <p> As Western University continues to respond to the changing circumstances surrounding the COVID-19 pandemic, the Fall/Winter 2020-2021 course offerings may be subject to change. As you plan your course selections, we encourage you to review the Academic Timetable regularly and follow updates on <a class= "removeunderline" href = "https://www.uwo.ca/coronavirus/students.html">  Western's COVID-19 website. </a> </p>

    <p>Please Note: Due to uncertainty around COVID-19, students must have a reliable internet connection and computer that are compatible with online learning and testing system requirements. Some courses may also require the use of a remote proctoring platform (such as Proctortrack) to ensure tests are taken fairly in accordance with Western's policy on Scholastic Discipline for Undergraduate Students and Scholastic Discipline for Graduate Students.</p>

    
    Computer requirements include:
   <div class = "bold"> Operating system : MAC:</div> OSX Yosemite 10.10.5 or higher, PC: Windows 7, 8, or higher
     <div class = "bold">Processor/Ram: MAC:</div>:Intel / AMD Processor, 2 GB RAM, PC: Dual-core 2.4 Ghz CPU, 2 GB RAM or better
    Web Browsers: Mozilla Firefox v20.0 or Higher Google Chrome v25.0 or higher
     <div class = "bold">Plug-ins:</div> Javascript Enabled & Third Party Cookies Enabled
     <div class = "bold">Camera resolution:</div> 800 x 600 resolution or better
     <div class = "bold">Internet connection: </div>Cable Modem, DSL or better (300 kbps download, 250 kbps upload)
 
    <p>Please refer to the course syllabus and <a class= "removeunderline"href ="https://remoteproctoring.uwo.ca/"> Western's remote proctoring website for further information. </a> </p>
    </div>
    </div>


 
  <!--Component loaded only on successful login-->
  
  
  <router-outlet> </router-outlet>
  
  
  <!--Component loaded only on successful login-->

  <!--lab design and search stuff-->
  
  
  </body>
  


<!--lab design and search stuff-->


